@font-face{
	font-family: "Odin-Bold";
	src:url(Odin-Bold.eot);
	src:url(Odin-Bold.woff) format('woff'),
		url(Odin-Bold.svg) format('svg');
}
body {
	background-color: grey;
	font-family: 'Odin-bold', Arial, serif ;
}
#background {
	width: 50%;
	height: 100%;
	margin: auto;
	background-color: white;
	border: 2px inset lightgrey;
	padding: 20px 20px 20px 20px;
}
a {
	text-decoration:none; 
	color: black;
}
a:hover {
	color: red;
}
p {
	text-align: justify;
}
header {
	height: 150px;
	display: flex;
	justify-content: space-between;
	border-bottom-style: solid;
	border-color: grey;	
}
footer {
	text-align: center;
	border-top-style: solid;
	border-color: grey;
	margin-top: 20px;
	text-decoration: none;
}
footer p{
	text-align: center;
}

#logo {
	height: 150px;
	object-fit: cover;
}
#user {
	display: flex;
	justify-content: space-between;
	align-self: center;
}
#user img {
	height: 30px;
	object-fit: cover;
	margin-left: 10px;
	margin-right: 10px;
}
#logout {
	padding-top: 8px;
}
#user a {
	align-self: center;
}
#deconnexion a {
	align-self: baseline;
}
h1, h2 {
	color: red;
	text-decoration: underline;
}
#illustration {
	height: 200px;
	width: 100%;
	background-image: url("ressources/illustration_accueil.jpg");
	background-size: cover;
	background-position: center;
	opacity: 90%;
}
#cadre_acteurs {
	padding: 10px 10px 10px 10px;
	border: 2px solid black;
}
#cadre_acteurs img {
	height: 50px;
	width: 100px;
	object-fit: contain;
	align-self: center;

}
article {
	display: flex;
	border: 2px solid black;
	padding: 15px 15px 15px 15px  ;
	margin-top: 10px;
	align-self: ;
}
.lien_acteur {
	align-self: flex-end;
	border: 2px solid black;
	border-radius: 10px;
	padding: 2px;
}
#presentation_acteur img {
	height: 200px;
	width: 300px;
	object-fit: contain;
	align-self: center;
}
#presentation_acteur {
	display: flex;
	flex-direction: column;
}
#like img {
	height: 30px;
	object-fit: cover;
	align-self: center;
}
#like {
	display: flex;
	justify-content: space-around;
	align-self: center;
}
#commentaires {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
#cadre_commentaire {
	border: 2px solid black;
	margin-top: 10px;
	padding: 5px;
}
.detail_commentaire {
	border: 2px solid black;
	padding: 5px;
	margin: 10px;
}
#nouveau_commentaire, #like {
	border: 2px solid black;
	border-radius: 10px;
	padding: 5px;
}
.texte_acteur p {
	width: 500px;
}

form {
  width: 80%;
  margin: 0 auto;
}

label,
input {
  /* In order to define widths */
  display: inline-block;
}

label {
  width: 30%;
  /* Positions the label text beside the input */
  text-align: right;
}

label+input {
  width: 30%;
  /* Large margin-right to force the next element to the new-line
           and margin-left to create a gutter between the label and input */
  margin: 0 30% 0 4%;
}
label,
textarea {
  /* In order to define widths */
  display: inline-block;
}
label+textarea {
  width: 30%;
  /* Large margin-right to force the next element to the new-line
           and margin-left to create a gutter between the label and input */
  margin: 0 30% 0 4%;
}

/* Only the submit button is matched by this selector,
       but to be sure you could use an id or class for that button */

textarea+input {
  float: right;
}